body {
    margin: 0;
    padding: 0;
   
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/* basic css end here */


/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */